*{
  margin: 0;
  padding: 0;
}

 #main{
    width: 100%;
    height: 100vh;

 }

 #main h1{
    text-align: center;
    font-size: 5vw;
    background-color: blue;
    color: white;
 }


 .turn img{
    width: 150px;
    height: 150px;

 }
 
 #turns .turn img:hover {
  background-color: black;
opacity: .8;
cursor: pointer;
 }

 #turns{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 5vw;
    gap: 5vw;
 }

 #score-card{
display: flex;
align-items: center;
justify-content: center;
gap: 5vw;
padding-top: 4vw;
 }


 .score p{
text-align: center;
font-size: 3vw;
 }

 #msg-container{
display: flex;
    padding-top:3vw ;
    font-size: 2vw;
align-items: center;
justify-content: center;

 }

 #msg-container #msg{
    background-color: rgb(56, 221, 56);
    padding: 1.5vw;
    border-radius: 20px;
display: none;
 }